.square {
  height: 200px;
  background-color: rgb(235, 241, 240);
  border: black solid 5px;
  border-radius: 5%;
  cursor: pointer;
}

.challenge_area {
  width: 600px;
  display: block;
  margin: 5px auto;
}