body {
  background-color: rgb(250, 248, 245);
}

.square {
  height: 160px;
  background-color: rgb(235, 241, 240);
  border: black solid 5px;
  border-radius: 5%;
  cursor: pointer;
}

.challenge_area {
  width: 480px;
  display: block;
  margin: 5px auto;
}

#current_color {
  color: azure;
  border: black 4px solid;
  margin-top: 15px;
  width: 160px;
  height: 45px; 
  display: block;
  margin: 15px auto;
  text-align: center;
  font-size: large;
  padding-top: 3px;
}

#paintbrush_area {
  margin: 15px auto;
  text-align: center;
  cursor: pointer;
}

#Help_Area {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
}

a {
  cursor: pointer;
}

#start_button {
  display: block;
  margin: 20px auto;
  font-size: 30px;
  background-color: rgb(37, 158, 22);
  border-radius: 10%;
  width: 120px;
}

#stop_button {
  display: none;
  margin: 20px auto;
  font-size: 30px;
  background-color: rgb(206, 97, 97);
  border-radius: 10%;
  width: 120px;
}

/* Basic colors for paintbrush selection*/
.blue{
  color: blue;
}
.red{
  color: red;
}
.green{
  color: green;
}

.blue_background{
  background-color: blue;
}
.red_background{
  background-color: red;
}
.green_background{
  background-color: green;
}